.head {
  background-color: #cbc6c6;
  height: 48px;
  display: flex;
  justify-content: space-between;
  line-height: 48px;
  padding: 0px 20px;
}

.siderBar {
  height: 100vh;
  background-color: #001529 !important;
}
.box {
  :global(.ant-layout) {
    height: 100% !important;
  }
}
